{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un avis</h1>

    {{ form_start(form) }}

    {{ form_row(form.idSerie) }}
    {{ form_row(form.username) }}
    {{ form_row(form.rates) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary">Ajouter l'avis</button>

    {{ form_end(form) }}


{% endblock %}