{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center text-white">
            <h1 class="text-center m-5 text-white">{{ movie.title }}</h1>

            <div class="row">
                <div class="col-md-6">
                    <img src="{{ movie.image }}" alt="{{ movie.title }}" class="img-fluid img-thumbnail" style="max-height: 300px;">
                </div>
                <div class="col-md-6">
                    <h3>Acteurs :</h3>
                    <ul>
                        {% for actor in actors %}
                            <li>{{ actor.lastname }} ({{ actor.gender }})</li>
                        {% endfor %}
                    </ul>

                    <h3>Actors:</h3>
                    <ul>
                        {% for actor in movie.actors %}
                            <li>{{ actor.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}


