{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center m-5 text-white">Liste des films : </h1>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 650px;margin: 30px;">
                    <img src="{{ movie.picturePath }}" class="card-img-top img-fluid img-thumbnail" alt="{{ movie.title }}" style="height: 50%;">
                    <div class="card-body">
                        <a class="text-decoration-none" href="{{ path('movie_details', {'id': movie.id }) }}">
                            <h5 class="card-title text-center custom-title">{{ movie.title }}</h5>
                        </a>
                        <p class="card-text custom-justify text-ellipsis mx-auto">{{ movie.overview|slice(0, 350) }}{{ movie.overview|length > 150 ? '...' : '' }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .custom-justify {
            text-align: justify;
            margin-top: 30px;
            height: 190px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .custom-title {
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            padding: 10px 0;
            color: black;
        }
    </style>
{% endblock %}

