{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de la recherche pour "{{ searchTerm }}"</h1>

    {% if searchResults.results > 0 %}
        <ul>
            {% for serie in searchResults.results %}
                <li>
                    <h2>{{ serie.name }}</h2>
                    <p>Date de sortie : {{ serie.first_air_date|date('d/m/Y') }}</p>
                    <p>Langue : {{ serie.original_language }}</p>
                    <p>Vote moyen : {{ serie.vote_average }}</p>
                    <p>{{ serie.overview }}</p>
                    <img src="https://image.tmdb.org/t/p/original{{ serie.poster_path }}" alt="{{ serie.name }}" width="200">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé pour "{{ searchTerm }}".</p>
    {% endif %}

    <a href="{{ path('popularFilm') }}">Retour à la page d'accueil</a>
{% endblock %}